node_modules/
/.next/
/out/
/build

.DS_Store
*.tsbuildinfo
next-env.d.ts

npm-debug.log*
yarn-debug.log*
yarn-error.log*

.env
.env*.local

.vercel

.vscode/
.idea/

Thumbs.db

Full_Stack_Developer_Assessment.pdf

*.db
*.sqlite

logs
*.log

pids
*.pid
*.seed
*.pid.lock

coverage/

tmp/
temp/

.cache/
.parcel-cache/

.vscode-test